.contacts {
  min-height: 679px;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
    background: url("../../../../../public/images/benefits_bg.jpg");
  }

  &__left {
    padding: 112px 18px 101px 80px;
    max-width: 627px;
    max-height: 950px;
    background: #e1f5fd;
  }

  &__subtitle {
    font-family: var(--font-manrope);
    color: #3e81a7;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 34px;
  }

  &__title {
    color: #0f5cae;
    font-family: var(--font-unbounded);
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
    background-clip: text;
    margin-bottom: 49px;
  }

  &__text {
    font-family: var(--font-manrope);
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 32px;
    padding-right: 127px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding: 149px 77px 84px 112px;
    background: url("../../../../../public/images/form_bg.jpg");
    background-position: right top;
  }

  &__data {
    position: relative;
    display: flex;
    margin-bottom: 42px;
    padding-top: 49px;
    column-gap: 93px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0px;
      width: 443px;
      height: 1px;
      background: rgba(15, 92, 174, 0.5);
    }
  }
  &__item {
    &_name {
      color: #0f5cae;
      font-family: var(--font-manrope);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      margin-bottom: 3px;
    }

    &_position {
      color: #000;
      font-family: var(--font-manrope);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 9px;
    }

    &_mail {
      color: #000;
      font-family: var(--font-manrope);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
  }

  &__social {
    color: #3e81a7;
    font-family: var(--font-manrope);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-decoration-line: underline;
  }
}
